<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InterfacesDoSistemaDesktop.Properties.Settings.PersonalConnectionString"
            connectionString="Data Source=DESKTOP-AF6EDUF\SQLEXPRESSS;Initial Catalog=Personal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InterfacesDoSistemaDesktop.Properties.Settings.Base_Dados_Personal_DynamicConnectionString"
            connectionString="Data Source=DESKTOP-AF6EDUF\SQLEXPRESSS;Initial Catalog=Base_Dados_Personal_Dynamic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InterfacesDoSistemaDesktop.Properties.Settings.Base_Dados_Personal_TesteConnectionString"
            connectionString="Data Source=DESKTOP-AF6EDUF\SQLEXPRESSS;Initial Catalog=Base_Dados_Personal_Teste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InterfacesDoSistemaDesktop.Properties.Settings.Base_Dados_Personal_TesteConnectionString1"
            connectionString="Data Source=JHONATAN\SQLEXPRESS;Initial Catalog=Base_Dados_Personal_Teste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>