@model CadastroModel
@{
    ViewData["Title"] = "Página Login";
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Personal Dynamic RH & DP</a> <!--Nome do cabeçalho-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Login" asp-action="Index">Página inicial</a> <!--Referente a página de inicio-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cadastro" asp-action="NovoCadastro">Novo Cadastro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="text-center">
        <h1 class="display-4">Bem vindo</h1>
        <h2 class="display-4">Consulte suas informações de forma <br> rápida e simples</h2>
    </div>
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert" style="margin-top: 15px">
            @TempData["MensagemErro"]
        </div>
    }
    <form asp-controller="Login" asp-action="Entrar">
        <!--form-group-->

        <div class="form-group">
            <label for="Email">Email</label>
            <!--placeholder="Informe seu email"-->
            <input type="text" asp-for="Email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp" >
            @Html.ValidationMessageFor(x => x.Email)
            <small id="emailHelp" class="form-text text-muted">Nunca compartilhe seus dados com ninguém.</small>
        </div>
        <br>
        <div class="form-group">
            <label for="exemploSenha">Senha</label>
            <!--placeholder="Informe sua senha"-->
            <input type="password" asp-for="Senha" name="Senha" class="form-control" id="Senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
        <br>

        <button type="submit" asp-controller="Login" asp-action="Login" class="btn btn-primary">Entrar</button>
    </form>
</body>
