@{
    ViewData["Title"] = "Cadastro criado";
}
<!--Todos os novos cadastros vai estar vai estar nessa página-->
<div class="text-center">
    <!--Tela para exibir que cadastro foi feito com sucesso-->
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Muito bem!</h4>
        <p>Seu cadastro foi concluido com sucesso!</p>
        <hr>
        <p class="mb-0">Volte a página de login para acessar o sistema.</p>
    </div>

    <a class="bnt bnt-secundary" asp-controller="Home" asp-action="Index" role="button">Voltar ao login</a>

</div>