@{
    ViewData["Title"] = "Página do Funcionário";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Personal Dynamic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="AcessoUsuario" asp-action="Index">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AcessoUsuario" asp-action="ContaUsuario">Conta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AcessoUsuario" asp-action="Salario">Salário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AcessoUsuario" asp-action="FolhaPag">Pagamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" aria-disabled="true" asp-controller="Home" asp-action="Index">Sair</a>
            </li>
        </ul>
      
    </div>
</nav>

<div class="text-center">

    <h1 class="display-4">Bem-vindo!</h1>
    <p>Área do Usúario</p>

</div>

