@{
    ViewData["Title"] = "Página de ferias";
}
@model AgendamentoferiasModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="AcessoUsuario" asp-action="Index">Personal Dynamic RH & DP</a> <!--Nome do cabeçalho-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller= "Home" asp-action="Index">Início</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Ponto" asp-action="Index">Apontamento</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PagSalario" asp-action="Salario">Salário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FolhaPag" asp-action="FolhaPagamento">Folha de Pagamento</a>
                    </li>
                   <!-- <li class="nav-item">
                        <a class="nav-link" asp-controller="PagHolerite" asp-action="Holerite">Holerite</a>
                     </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link" asp-controller="Faltas" asp-action="Falta">Faltas</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ferias" asp-action="Ferias">Férias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" asp-controller="Login" asp-action="Index">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row border Regular shadow" style="margin-top:20px; margin-bottom:20px">
        <a>
            <i class="fs-4 bi-airplane" style="font-size:30px; margin-right:20px; margin-left:10px"></i><span style="font-size:30px">Agendamento de ferias</span>
        </a>
    </div>

    <h3 style="width:700px" class="">Selecione os períodos desejado de férias</h3>

    <div class="container" style="margin-bottom:20px">
        <div class="form-check form-check-inline">
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
    </div>

    <div class="container border" id="divPeriod1" style="display:none; margin-bottom:20px">
        <h4>Primeiro periodo</h4>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Data de inicio</label>
                <input type="date" class="form-control" id="exempleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
             <label for="inputQtdDias">Quantidade Dias</label>
                <select class="form-control" style="width:70px; margin-bottom:20px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                 </select>
            
        </form>
    </div>

    <div class="container border" id="divPeriod2" style="display:none; margin-bottom:20px">
        <h4>Segundo periodo</h4>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Data de inicio</label>
                <input type="date" class="form-control" id="exempleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <label for="inputQtdDias">Quantidade Dias</label>
                <select class="form-control" style="width:70px; margin-bottom:20px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                </select>
        </form>
    </div>

    <div class="container border" id="divPeriod3" style="display: none; margin-bottom:20px">
        <h4>Terceiro periodo</h4>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Data de inicio</label>
                <input type="date" class="form-control" id="exempleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <label for="inputQtdDias">Quantidade Dias</label>
            <select class="form-control" style="width:70px; margin-bottom:20px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                </select>
        </form>
    </div>

    <button type="submit" id="Enviar" class="btn btn-primary" style="display:none;">Enviar</button>

    <script>
        function togglePerioDivs() 
        {
            var selectedValue = document.querySelector('input[name="inlineRadioOptions"]:checked').value;

            document.getElementById("divPeriod1").style.display = "none";
            document.getElementById("divPeriod2").style.display = "none"; 
            document.getElementById("divPeriod3").style.display = "none";

            if (selectedValue === "option1") {
                document.getElementById("divPeriod1").style.display = "block";
                document.getElementById("Enviar").style.display = "block";
            } else if (selectedValue === "option2") {
                document.getElementById("divPeriod1").style.display = "block";
                document.getElementById("divPeriod2").style.display = "block";
                document.getElementById("Enviar").style.display = "block";
            } else if (selectedValue === "option3") {
                document.getElementById("divPeriod1").style.display = "block";
                document.getElementById("divPeriod2").style.display = "block";
                document.getElementById("divPeriod3").style.display = "block";
                document.getElementById("Enviar").style.display = "block";
            }
        }

        var radioButtons = document.querySelectorAll('input[name="inlineRadioOptions"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener("change", togglePerioDivs);
        });
        togglePerioDivs();
    </script>

  </div>

